---
import { ViewTransitions } from "astro:transitions";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<!-- Comment out below to fix page reload issue -->
<ViewTransitions />

<div class="h-screen grid place-items-center">
	<button class="btn" onclick="mymodal.showModal()">open modal</button>
</div>

<dialog id="mymodal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click outside to close</p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
